footer#footer
  span Powered by 
  a(href='http://www.farbox.com') FarBox
  |  ❤ Theme 
  a(href="https://github.com/imzoke/greenray-theme-for-farbox") Greenray
  |  by 
  a(href="http://imzoke.com/") imzoke
  |.